## **05 MongoDB Python Aggregation**

### 0. 기본 pymongo 템플릿 코드
> sample_mflix 데이터셋을 기반으로, 지금까지 익힌 MongoDB aggregation 문법을 pymongo 에서 어떻게 적용해서 사용할 수 있는지를 알아보기로 함

In [1]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017")
db = client.sample_mflix  # use sample_mflix
movies = db.movies        # db.movies(collection 선택)

In [2]:
## 필드 이름 추출

list(movies.find().limit(5))

[{'_id': ObjectId('573a1390f29313caabcd4135'),
  'plot': 'Three men hammer on an anvil and pass a bottle of beer around.',
  'genres': ['Short'],
  'runtime': 1,
  'cast': ['Charles Kayser', 'John Ott'],
  'num_mflix_comments': 1,
  'title': 'Blacksmith Scene',
  'fullplot': 'A stationary camera looks at a large anvil with a blacksmith behind it and one on either side. The smith in the middle draws a heated metal rod from the fire, places it on the anvil, and all three begin a rhythmic hammering. After several blows, the metal goes back in the fire. One smith pulls out a bottle of beer, and they each take a swig. Then, out comes the glowing metal and the hammering resumes.',
  'countries': ['USA'],
  'released': datetime.datetime(1893, 5, 9, 0, 0),
  'directors': ['William K.L. Dickson'],
  'rated': 'UNRATED',
  'awards': {'wins': 1, 'nominations': 0, 'text': '1 win.'},
  'lastupdated': '2015-08-26 00:03:50.133000000',
  'year': 1893,
  'imdb': {'rating': 6.2, 'votes': 1189, 'id': 5},
  'type': 'movie',
  'tomatoes': {'viewer': {'rating': 3.0, 'numReviews': 184, 'meter': 32},
   'lastUpdated': datetime.datetime(2015, 6, 28, 18, 34, 9)}},
 {'_id': ObjectId('573a1390f29313caabcd42e8'),
  'plot': 'A group of bandits stage a brazen train hold-up, only to find a determined posse hot on their heels.',
  'genres': ['Short', 'Western'],
  'runtime': 11,
  'cast': ['A.C. Abadie',
   "Gilbert M. 'Broncho Billy' Anderson",
   'George Barnes',
   'Justus D. Barnes'],
  'poster': 'https://m.media-amazon.com/images/M/MV5BMTU3NjE5NzYtYTYyNS00MDVmLWIwYjgtMmYwYWIxZDYyNzU2XkEyXkFqcGdeQXVyNzQzNzQxNzI@._V1_SY1000_SX677_AL_.jpg',
  'title': 'The Great Train Robbery',
  'fullplot': "Among the earliest existing films in American cinema - notable as the first film that presented a narrative story to tell - it depicts a group of cowboy outlaws who hold up a train and rob the passengers. They are then pursued by a Sheriff's posse. Several scenes have color included - all hand tinted.",
  'languages': ['English'],
  'released': datetime.datetime(1903, 12, 1, 0, 0),
  'directors': ['Edwin S. Porter'],
  'rated': 'TV-G',
  'awards': {'wins': 1, 'nominations': 0, 'text': '1 win.'},
  'lastupdated': '2015-08-13 00:27:59.177000000',
  'year': 1903,
  'imdb': {'rating': 7.4, 'votes': 9847, 'id': 439},
  'countries': ['USA'],
  'type': 'movie',
  'tomatoes': {'viewer': {'rating': 3.7, 'numReviews': 2559, 'meter': 75},
   'fresh': 6,
   'critic': {'rating': 7.6, 'numReviews': 6, 'meter': 100},
   'rotten': 0,
   'lastUpdated': datetime.datetime(2015, 8, 8, 19, 16, 10)}},
 {'_id': ObjectId('573a1390f29313caabcd4323'),
  'plot': 'A young boy, opressed by his mother, goes on an outing in the country with a social welfare group where he dares to dream of a land where the cares of his ordinary life fade.',
  'genres': ['Short', 'Drama', 'Fantasy'],
  'runtime': 14,
  'rated': 'UNRATED',
  'cast': ['Martin Fuller',
   'Mrs. William Bechtel',
   'Walter Edwin',
   'Ethel Jewett'],
  'num_mflix_comments': 2,
  'poster': 'https://m.media-amazon.com/images/M/MV5BMTMzMDcxMjgyNl5BMl5BanBnXkFtZTcwOTgxNjg4Mg@@._V1_SY1000_SX677_AL_.jpg',
  'title': 'The Land Beyond the Sunset',
  'fullplot': "Thanks to the Fresh Air Fund, a slum child escapes his drunken mother for a day's outing in the country. Upon arriving, he and the other children are told a story about a mythical land of no pain. Rather then return to the slum at day's end, the lad seeks to journey to that beautiful land beyond the sunset.",
  'languages': ['English'],
  'released': datetime.datetime(1912, 10, 28, 0, 0),
  'directors': ['Harold M. Shaw'],
  'writers': ['Dorothy G. Shore'],
  'awards': {'wins': 1, 'nominations': 0, 'text': '1 win.'},
  'lastupdated': '2015-08-29 00:27:45.437000000',
  'year': 1912,
  'imdb': {'rating': 7.1, 'votes': 448, 'id': 488},
  'countries': ['USA'],
  'type': 'movie',
  'tomatoes': {'viewer': {'rating': 3.7, 'numReviews': 53, 'meter': 67},
   'lastUpdated': datetime.datetime(2015, 4, 27, 19, 6, 35)}},
 {'_id': ObjectId('573a1390f29313caabcd446f'),
  'plot': "A greedy tycoon decides, on a whim, to corner the world market in wheat. This doubles the price of bread, forcing the grain's producers into charity lines and further into poverty. The film...",
  'genres': ['Short', 'Drama'],
  'runtime': 14,
  'cast': ['Frank Powell',
   'Grace Henderson',
   'James Kirkwood',
   'Linda Arvidson'],
  'num_mflix_comments': 1,
  'title': 'A Corner in Wheat',
  'fullplot': "A greedy tycoon decides, on a whim, to corner the world market in wheat. This doubles the price of bread, forcing the grain's producers into charity lines and further into poverty. The film continues to contrast the ironic differences between the lives of those who work to grow the wheat and the life of the man who dabbles in its sale for profit.",
  'languages': ['English'],
  'released': datetime.datetime(1909, 12, 13, 0, 0),
  'directors': ['D.W. Griffith'],
  'rated': 'G',
  'awards': {'wins': 1, 'nominations': 0, 'text': '1 win.'},
  'lastupdated': '2015-08-13 00:46:30.660000000',
  'year': 1909,
  'imdb': {'rating': 6.6, 'votes': 1375, 'id': 832},
  'countries': ['USA'],
  'type': 'movie',
  'tomatoes': {'viewer': {'rating': 3.6, 'numReviews': 109, 'meter': 73},
   'lastUpdated': datetime.datetime(2015, 5, 11, 18, 36, 53)}},
 {'_id': ObjectId('573a1390f29313caabcd4803'),
  'plot': 'Cartoon figures announce, via comic strip balloons, that they will move - and move they do, in a wildly exaggerated style.',
  'genres': ['Animation', 'Short', 'Comedy'],
  'runtime': 7,
  'cast': ['Winsor McCay'],
  'num_mflix_comments': 1,
  'poster': 'https://m.media-amazon.com/images/M/MV5BYzg2NjNhNTctMjUxMi00ZWU4LWI3ZjYtNTI0NTQxNThjZTk2XkEyXkFqcGdeQXVyNzg5OTk2OA@@._V1_SY1000_SX677_AL_.jpg',
  'title': 'Winsor McCay, the Famous Cartoonist of the N.Y. Herald and His Moving Comics',
  'fullplot': 'Cartoonist Winsor McCay agrees to create a large set of drawings that will be photographed and made into a motion picture. The job requires plenty of drawing supplies, and the cartoonist must also overcome some mishaps caused by an assistant. Finally, the work is done, and everyone can see the resulting animated picture.',
  'languages': ['English'],
  'released': datetime.datetime(1911, 4, 8, 0, 0),
  'directors': ['Winsor McCay', 'J. Stuart Blackton'],
  'writers': ['Winsor McCay (comic strip "Little Nemo in Slumberland")',
   'Winsor McCay (screenplay)'],
  'awards': {'wins': 1, 'nominations': 0, 'text': '1 win.'},
  'lastupdated': '2015-08-29 01:09:03.030000000',
  'year': 1911,
  'imdb': {'rating': 7.3, 'votes': 1034, 'id': 1737},
  'countries': ['USA'],
  'type': 'movie',
  'tomatoes': {'viewer': {'rating': 3.4, 'numReviews': 89, 'meter': 47},
   'lastUpdated': datetime.datetime(2015, 8, 20, 18, 51, 24)}}]

In [3]:
movies.find_one().keys()

dict_keys(['_id', 'plot', 'genres', 'runtime', 'cast', 'num_mflix_comments', 'title', 'fullplot', 'countries', 'released', 'directors', 'rated', 'awards', 'lastupdated', 'year', 'imdb', 'type', 'tomatoes'])

In [11]:
###  (1)'Action' 장르의 영화 (2)한 편 출력
pipeline = [
    {"$match": {"genres" : "Action"}},
    {"$limit": 1}
]
for movie in movies.aggregate(pipeline):
    print(movie)

{'_id': ObjectId('573a1390f29313caabcd5293'), 'plot': "Young Pauline is left a lot of money when her wealthy uncle dies. However, her uncle's secretary has been named as her guardian until she marries, at which time she will officially take ...", 'genres': ['Action'], 'runtime': 199, 'cast': ['Pearl White', 'Crane Wilbur', 'Paul Panzer', 'Edward Josè'], 'num_mflix_comments': 1, 'poster': 'https://m.media-amazon.com/images/M/MV5BMzgxODk1Mzk2Ml5BMl5BanBnXkFtZTgwMDg0NzkwMjE@._V1_SY1000_SX677_AL_.jpg', 'title': 'The Perils of Pauline', 'fullplot': 'Young Pauline is left a lot of money when her wealthy uncle dies. However, her uncle\'s secretary has been named as her guardian until she marries, at which time she will officially take possession of her inheritance. Meanwhile, her "guardian" and his confederates constantly come up with schemes to get rid of Pauline so that he can get his hands on the money himself.', 'languages': ['English'], 'released': datetime.datetime(1914, 3, 23, 0, 0), 'directors': ['Louis J. Gasnier', 'Donald MacKenzie'], 'writers': ['Charles W. Goddard (screenplay)', 'Basil Dickey (screenplay)', 'Charles W. Goddard (novel)', 'George B. Seitz', 'Bertram Millhauser'], 'awards': {'wins': 1, 'nominations': 0, 'text': '1 win.'}, 'lastupdated': '2015-09-12 00:01:18.647000000', 'year': 1914, 'imdb': {'rating': 7.6, 'votes': 744, 'id': 4465}, 'countries': ['USA'], 'type': 'movie', 'tomatoes': {'viewer': {'rating': 2.8, 'numReviews': 9}, 'production': 'Pathè Frères', 'lastUpdated': datetime.datetime(2015, 9, 11, 17, 46, 19)}}

### 다양한 aggregate() 문법 적용
- MongoDB aggregation 문법은 find() 가 아닌, aggregate() 메서드를 사용해야 함

**1. $match: 이 스테이지는 쿼리와 유사한 방식으로 문서를 필터링합니다.**

> 결과가 너무 많기 때문에, $limit 문법도 함께 사용하기로 함

**2. $group: 이 스테이지는 특정 필드를 기준으로 문서를 그룹화하고, 각 그룹에 대해 다양한 연산을 수행할 수 있습니다.**

In [64]:
pipeline = [
    {"$group": {"_id":"$directors", "count": {"$sum": 1 }}},
    {"$limit": 2}
]
list(movies.aggregate(pipeline))

[{'_id': ['Albert Maysles',
   'Lynn True',
   'David Usui',
   'Nelson Walker III',
   'Benjamin Wu'],
  'count': 1},
 {'_id': ['John Kafka'], 'count': 1}]

In [20]:
pipeline = [
    {"$unwind" : "$directors"},
    {"$group":{"_id": "$directors", "count":{"$sum":1}}},
    {"$sort":{"count": -1}},
    {"$limit": 4}
]
list(movies.aggregate(pipeline))

[{'_id': 'Woody Allen', 'count': 40},
 {'_id': 'John Ford', 'count': 35},
 {'_id': 'Takashi Miike', 'count': 34},
 {'_id': 'John Huston', 'count': 34}]

**3. $sort: 이 스테이지는 특정 필드를 기준으로 문서를 정렬합니다.**

In [23]:
pipeline = [
    {"$sort": {"title": 1}}, { "$limit": 20 }
]
for movie in movies.aggregate(pipeline): 
    print(movie['title'], )
    
# db.movies.aggregate( [ { $sort: { title: 1 } }, 
#                                  { $limit: 3 } ] )

1
1
3
4
8
9
9
10
10.5
11.6
12
13
15
21
23
24
24
36
42
54

**4. $limit: 이 스테이지는 출력되는 문서의 수를 제한합니다.**

**5. $project: 이 스테이지는 출력되는 문서의 필드를 추가, 제거, 또는 새로 생성합니다.**

In [30]:
pipeline = [
    {"$project": {"_id": 0, "title": 1,"genres":1}},
    { "$limit": 5 }
]
list(movies.aggregate(pipeline))

[{'genres': ['Short'], 'title': 'Blacksmith Scene'},
 {'genres': ['Short', 'Western'], 'title': 'The Great Train Robbery'},
 {'genres': ['Short', 'Drama', 'Fantasy'],
  'title': 'The Land Beyond the Sunset'},
 {'genres': ['Short', 'Drama'], 'title': 'A Corner in Wheat'},
 {'genres': ['Animation', 'Short', 'Comedy'],
  'title': 'Winsor McCay, the Famous Cartoonist of the N.Y. Herald and His Moving Comics'}]

**6. $unwind: 이 스테이지는 배열 필드를 풀어서 각 원소를 별도의 문서로 만듭니다.**

In [65]:
pipeline = [
    {"$unwind":"$genres"},
    {"$limit": 5}
]
pd.DataFrame(movies.aggregate(pipeline))

,_id,plot,genres,runtime,cast,num_mflix_comments,title,fullplot,countries,released,...,rated,awards,lastupdated,year,imdb,type,tomatoes,poster,languages,writers
0,573a1390f29313caabcd4135,Three men hammer on an anvil and pass a bottle...,Short,1,"[Charles Kayser, John Ott]",1.0,Blacksmith Scene,A stationary camera looks at a large anvil wit...,[USA],1893-05-09,...,UNRATED,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-26 00:03:50.133000000,1893,"{'rating': 6.2, 'votes': 1189, 'id': 5}",movie,"{'viewer': {'rating': 3.0, 'numReviews': 184, ...",NaN,NaN,NaN
1,573a1390f29313caabcd42e8,A group of bandits stage a brazen train hold-u...,Short,11,"[A.C. Abadie, Gilbert M. 'Broncho Billy' Ander...",NaN,The Great Train Robbery,Among the earliest existing films in American ...,[USA],1903-12-01,...,TV-G,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:27:59.177000000,1903,"{'rating': 7.4, 'votes': 9847, 'id': 439}",movie,"{'viewer': {'rating': 3.7, 'numReviews': 2559,...",https://m.media-amazon.com/images/M/MV5BMTU3Nj...,[English],NaN
2,573a1390f29313caabcd42e8,A group of bandits stage a brazen train hold-u...,Western,11,"[A.C. Abadie, Gilbert M. 'Broncho Billy' Ander...",NaN,The Great Train Robbery,Among the earliest existing films in American ...,[USA],1903-12-01,...,TV-G,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:27:59.177000000,1903,"{'rating': 7.4, 'votes': 9847, 'id': 439}",movie,"{'viewer': {'rating': 3.7, 'numReviews': 2559,...",https://m.media-amazon.com/images/M/MV5BMTU3Nj...,[English],NaN
3,573a1390f29313caabcd4323,"A young boy, opressed by his mother, goes on a...",Short,14,"[Martin Fuller, Mrs. William Bechtel, Walter E...",2.0,The Land Beyond the Sunset,"Thanks to the Fresh Air Fund, a slum child esc...",[USA],1912-10-28,...,UNRATED,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-29 00:27:45.437000000,1912,"{'rating': 7.1, 'votes': 448, 'id': 488}",movie,"{'viewer': {'rating': 3.7, 'numReviews': 53, '...",https://m.media-amazon.com/images/M/MV5BMTMzMD...,[English],[Dorothy G. Shore]
4,573a1390f29313caabcd4323,"A young boy, opressed by his mother, goes on a...",Drama,14,"[Martin Fuller, Mrs. William Bechtel, Walter E...",2.0,The Land Beyond the Sunset,"Thanks to the Fresh Air Fund, a slum child esc...",[USA],1912-10-28,...,UNRATED,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-29 00:27:45.437000000,1912,"{'rating': 7.1, 'votes': 448, 'id': 488}",movie,"{'viewer': {'rating': 3.7, 'numReviews': 53, '...",https://m.media-amazon.com/images/M/MV5BMTMzMD...,[English],[Dorothy G. Shore]

In [35]:
import pandas as pd
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

**7. `$group`과 `$sum`: 이 예제에서는 감독별로 영화를 그룹화하고, 각 그룹의 영화 수를 계산합니다.**

In [47]:
pipeline = [
    {"$group":{"_id":"$directors",
              "count":{"$sum": 1}}},
    {"$sort":{"count": -1}}
    # {"$limit":5}
]
pd.DataFrame(movies.aggregate(pipeline))

                                                     _id  count
0                                                   None    265
1                                          [Woody Allen]     39
2                                        [Takashi Miike]     33
3                                        [Werner Herzog]     31
4                                     [Alfred Hitchcock]     31
...                                                  ...    ...
10836                                       [Mark Craig]      1
10837  [Ferran Brooks, Kevin Macdonald, Alejandro Rom...      1
10838                                    [Borys Lankosz]      1
10839                                     [Janet Grillo]      1
10840                                   [Osamu Katayama]      1

[10841 rows x 2 columns]

**8. `$group`과 `$avg`: 이 예제에서는 감독별로 영화를 그룹화하고, 각 그룹의 영화 평점 평균을 계산합니다.**

In [58]:
pipline = [
    {"$unwind": "$directors"},
    {"$group":{"_id":"$directors",
               "average_rating":{"$avg": "$imdb.rating"}}},
    {"$sort":{"avg": -1}},
    {"$limit":5}
]
pd.DataFrame(movies.aggregate(pipeline))

                                   _id  count
0                                 None    265
1                        [Woody Allen]     39
2                      [Takashi Miike]     33
3                      [Werner Herzog]     31
4                   [Alfred Hitchcock]     31
...                                ...    ...
10836                    [Weijun Chen]      1
10837  [Robert Gardner, John Marshall]      1
10838              [Clenet Verdi-Rose]      1
10839                [Rafal Zielinski]      1
10840    [Rolf de Heer, Peter Djigirr]      1

[10841 rows x 2 columns]

<div class="alert alert-block" style="border: 2px solid #1565C0;background-color:#E3F2FD;padding:10px">
<font size="3em" style="color:#0D47A1;">연습문제 1: 컬렉션에 있는 영화의 수를 계산하세요.</font><br>
</div>

In [130]:
movie_count = movies.count_documents({})
print("총영화수",movie_count)

# pipeline = [
#     {"$unwind" : "$directors"},
#     {"$group":{"_id": "$directors", "count":{"$sum":1}}},
#     {"$sort":{"count": -1}},
#     {"$limit": 4}
# ]
# list(movies.aggregate(pipeline))

총영화수 23539

<div class="alert alert-block" style="border: 2px solid #1565C0;background-color:#E3F2FD;padding:10px">
<font size="3em" style="color:#0D47A1;">연습문제 2: 평균 영화 길이를 찾으세요.</font><br>
</div>

In [132]:
pipeline = [
    {
        "$group": {
            "_id": None, 
            "avg_runtime": { "$avg": "$runtime" }
        }
    }
]

pd.DataFrame(movies.aggregate(pipeline))

# round()

    _id  avg_runtime
0  None   103.789321

<div class="alert alert-block" style="border: 2px solid #1565C0;background-color:#E3F2FD;padding:10px">
<font size="3em" style="color:#0D47A1;">연습문제 3: 각 장르에 대한 영화 수를 계산하세요.</font><br>
</div>

In [104]:
pipeline = [
    { "$unwind":"$genres"},
    { "$group":{ "_id": "$genres" ,"count" :{"$sum": 1} }
    }
      
]
pd.DataFrame(movies.aggregate(pipeline))

            _id  count
0       History    999
1   Documentary   2129
2         Sport    390
3       Western    274
4        Horror   1703
5     Animation    971
6       Romance   3665
7     Film-Noir    105
8        Family   1311
9       Mystery   1259
10          War    794
11     Thriller   2658
12    Talk-Show      1
13      Fantasy   1153
14        Drama  13789
15        Short    478
16      Musical    487
17        Crime   2678
18       Comedy   7024
19       Action   2539
20       Sci-Fi   1034
21    Biography   1404
22    Adventure   2045
23         News     51
24        Music    840

<div class="alert alert-block" style="border: 2px solid #1565C0;background-color:#E3F2FD;padding:10px">
<font size="3em" style="color:#0D47A1;">연습문제 4: 2014년 이후에 개봉한 영화를 제목으로 정렬하여 나열하세요.</font><br>
</div>

In [134]:
post_2014_movies = movies.find({"year": {"$gt":2014}}).sort("title")
for movie in post_2014_movies:
    print('영화 제목',movie['title'])

영화 제목 (T)ERROR
영화 제목 11 Minutes
영화 제목 13 Minutes
영화 제목 3 1/2 Minutes, Ten Bullets
영화 제목 45 Years
영화 제목 6 Years
영화 제목 600 Millas
영화 제목 7 Chinese Brothers
영화 제목 A Bigger Splash
영화 제목 A Brave Heart: The Lizzie Velasquez Story
영화 제목 A Country Called Home
영화 제목 A Horse for Summer
영화 제목 A Perfect Day
영화 제목 A Sinner in Mecca
영화 제목 A Sunday Kind of Love
영화 제목 A Tale of Love and Darkness
영화 제목 A War
영화 제목 A cambio de nada
영화 제목 Above and Below
영화 제목 Ad Inexplorata
영화 제목 Adam Curtis: Bitter Lake
영화 제목 Adama
영화 제목 Admiral
영화 제목 Advantageous
영화 제목 Aferim!
영화 제목 AfterDeath
영화 제목 Alias Marèa
영화 제목 Alice in Earnestland
영화 제목 All Eyes and Ears
영화 제목 Aloha
영화 제목 American Hostage
영화 제목 Amy
영화 제목 An
영화 제목 An Italian Name
영화 제목 Anomalisa
영화 제목 Another World
영화 제목 Ant-Man
영화 제목 Applesauce
영화 제목 April and the Extraordinary World
영화 제목 Arabian Nights: Volume 1 - The Restless One
영화 제목 Armi elèè!
영화 제목 As We Were Dreaming
영화 제목 Ashby
영화 제목 Assassination Classroom
영화 제목 Autism in Love
영화 제목 Ava's Possessions
영화 제목 Ave Maria
영화 제목 Avengers: Age of Ultron
영화 제목 Awaken
영화 제목 Ayanda and the Mechanic
영화 제목 B-Movie: Lust & Sound in West-Berlin 1979-1989
영화 제목 Babai
영화 제목 Bang Gang (A Modern Love Story)
영화 제목 Batkid Begins
영화 제목 Be My Cat: A Film for Anne
영화 제목 Beasts of No Nation
영화 제목 Being Evel
영화 제목 Bessie
영화 제목 Best of Enemies
영화 제목 Beyond the Fear
영화 제목 Bitcoin: The End of Money as We Know It
영화 제목 Bitva za Sevastopol
영화 제목 Black Mountain Poets
영화 제목 Blackhat
영화 제목 Bloed, Zweet & Tranen
영화 제목 Blood of My Blood
영화 제목 Body
영화 제목 Body
영화 제목 Bombay Velvet
영화 제목 Brand New-U
영화 제목 Brand: A Second Coming
영화 제목 Breaking a Monster
영화 제목 Bridgend
영화 제목 Butterfly
영화 제목 Call Me Lucky
영화 제목 Carol
영화 제목 Carte Blanche
영화 제목 Cartel Land
영화 제목 Cash Only
영화 제목 Catching the Sun
영화 제목 Caught
영화 제목 Cemetery of Splendour
영화 제목 Chasuke's Journey
영화 제목 Chevalier
영화 제목 Chronic
영화 제목 Chronicle of a Blood Merchant
영화 제목 Chuck Norris vs Communism
영화 제목 Cinderella
영화 제목 Circle
영화 제목 City of Gold
영화 제목 Clean Hands
영화 제목 Cobain: Montage of Heck
영화 제목 Coin Locker Girl
영화 제목 Como funcionan casi todas las cosas
영화 제목 Convenience
영화 제목 Cop Car
영화 제목 Cosmos
영화 제목 Courted
영화 제목 Creative Control
영화 제목 Crocodile Gennadiy
영화 제목 Crumbs
영화 제목 Crush the Skull
영화 제목 Dark Horse
영화 제목 Day One
영화 제목 De Surprise
영화 제목 Deathgasm
영화 제목 Deep Web
영화 제목 Dennis Rodman's Big Bang in PyongYang
영화 제목 Der Bunker
영화 제목 Der Nachtmahr
영화 제목 Desde allè
영화 제목 Desierto
영화 제목 Dhanak
영화 제목 Dheepan
영화 제목 Diary of a Chambermaid
영화 제목 Disorder
영화 제목 Divine Access
영화 제목 Dope
영화 제목 Dragon Blade
영화 제목 Dreamcatcher
영화 제목 Drunk Stoned Brilliant Dead: The Story of the National Lampoon
영화 제목 Dude Bro Party Massacre III
영화 제목 Dègradè
영화 제목 Eadweard
영화 제목 Eisenstein in Guanajuato
영화 제목 Embers
영화 제목 Embrace of the Serpent
영화 제목 Emelie
영화 제목 Enklava
영화 제목 Entertainment
영화 제목 Equals
영화 제목 Escape
영화 제목 Everything Before Us
영화 제목 Evolution
영화 제목 Ex Machina
영화 제목 Exeter
영화 제목 Extraordinary Tales
영화 제목 Fantastic Four
영화 제목 Far from the Madding Crowd
영화 제목 Felices 140
영화 제목 Fifty Shades of Grey
영화 제목 Finders Keepers
영화 제목 Flocken
영화 제목 Fly Away Solo
영화 제목 For Grace
영화 제목 Fourth Man Out
영화 제목 Frame by Frame
영화 제목 Francofonia
영화 제목 Frankenstein
영화 제목 Frau Mèller muss weg!
영화 제목 Freistatt
영화 제목 Furious 7
영화 제목 Gangnam Blues
영화 제목 Gayby Baby
영화 제목 Ghoul
영화 제목 Girl on the Edge
영화 제목 Gold Coast
영화 제목 Good Ol' Boy
영화 제목 Green Room
영화 제목 Hacker's Game
영화 제목 Hallway
영화 제목 Hector
영화 제목 Heil
영화 제목 Hello, My Name Is Doris
영화 제목 Hitchcock/Truffaut
영화 제목 Ho ucciso Napoleone
영화 제목 Holding the Man
영화 제목 Home Care
영화 제목 Homeland (Iraq Year Zero)
영화 제목 Homies
영화 제목 Hoovey
영화 제목 Hot Girls Wanted
영화 제목 Hot Pursuit
영화 제목 How to Change the World
영화 제목 How to Win at Checkers (Every Time)
영화 제목 I Am Michael
영화 제목 I Am Thor
영화 제목 I Smile Back
영화 제목 I'll See You in My Dreams
영화 제목 III
영화 제목 Ice and the Sky
영화 제목 Im Sommer wohnt er unten
영화 제목 In Transit
영화 제목 In the Grayscale
영화 제목 India's Daughter
영화 제목 Ingrid Bergman in Her Own Words
영화 제목 Inside Out
영화 제목 Insidious: Chapter 3
영화 제목 Insurgent
영화 제목 It's Already Tomorrow in Hong Kong
영화 제목 It's Me, Hilary: The Man Who Drew Eloise
영화 제목 Italiano medio
영화 제목 Ivy
영화 제목 Ixcanul Volcano
영화 제목 Jackrabbit
영화 제목 James White
영화 제목 Jeruzalem
영화 제목 Journey to the Shore
영화 제목 Jupiter Ascending
영화 제목 Jupiter Ascending
영화 제목 Jurassic World
영화 제목 Just Jim
영화 제목 Kaili Blues
영화 제목 Kept Woman
영화 제목 Killing Jesus
영화 제목 King Jack
영화 제목 Knight of Cups
영화 제목 Krisha
영화 제목 Kung Fury
영화 제목 La scelta
영화 제목 Lamb
영화 제목 Land and Shade
영화 제목 Landmine Goes Click
영화 제목 Larry Kramer in Love and Anger
영화 제목 Last Cab to Darwin
영화 제목 Latin Lover
영화 제목 Len and Company
영화 제목 Les cowboys
영화 제목 Les oiseaux de passage
영화 제목 Limonata
영화 제목 Listen to Me Marlon
영화 제목 Live from New York!
영화 제목 Liza, the Fox-Fairy
영화 제목 Long Way North
영화 제목 Looking for Grace
영화 제목 Lost and Beautiful
영화 제목 Louder Than Bombs
영화 제목 Louis C.K.: Live at the Comedy Store
영화 제목 Love
영화 제목 Lovemilla
영화 제목 Macbeth
영화 제목 Mad Max: Fury Road
영화 제목 Maggie
영화 제목 Magic Mike XXL
영화 제목 Man Down
영화 제목 Manhattan Romance
영화 제목 Manoman
영화 제목 Manson Family Vacation
영화 제목 Marguerite
영화 제목 Marguerite & Julien
영화 제목 McFarland, USA
영화 제목 Me Him Her
영화 제목 Me and Earl and the Dying Girl
영화 제목 Meadowland
영화 제목 Mediterranea
영화 제목 Men & Chicken
영화 제목 Men Go to Battle
영화 제목 Meru
영화 제목 Mia Madre
영화 제목 Misery Loves Comedy
영화 제목 Miss Hokusai
영화 제목 Miss India America
영화 제목 Molly Moon and the Incredible Book of Hypnotism
영화 제목 Mon roi
영화 제목 Monkey King: Hero Is Back
영화 제목 Most Likely to Succeed
영화 제목 Mountains May Depart
영화 제목 Mr. Holmes
영화 제목 Much Loved
영화 제목 Mustang
영화 제목 My Golden Days
영화 제목 My Lonely Me
영화 제목 My Skinny Sister
영화 제목 Nachthelle
영화 제목 Nahid
영화 제목 Naked Among Wolves
영화 제목 Nasty Baby
영화 제목 Naz & Maalik
영화 제목 Night Owls
영화 제목 No Home Movie
영화 제목 No Stranger Than Love
영화 제목 Nobody Wants the Night
영화 제목 Noi e la Giulia
영화 제목 Office
영화 제목 Oliver's Deal
영화 제목 One Floor Below
영화 제목 One and Two
영화 제목 Only the Dead
영화 제목 Our Little Sister
영화 제목 Our Loved Ones
영화 제목 Out of My Hand
영화 제목 Outliving Emily
영화 제목 OzLand
영화 제목 Packed In A Trunk: The Lost Art of Edith Lake Wilkinson
영화 제목 Paper Towns
영화 제목 Paren s nashego kladbishcha
영화 제목 Partisan
영화 제목 Paternity Leave
영화 제목 Paul Blart: Mall Cop 2
영화 제목 Paulina
영화 제목 Peace Officer
영화 제목 People Places Things
영화 제목 Petting Zoo
영화 제목 Pionery-geroi
영화 제목 Pitch Perfect 2
영화 제목 Pixels
영화 제목 Polycarp
영화 제목 Port of Call
영화 제목 Prince
영화 제목 Queen of Earth
영화 제목 Queen of the Desert
영화 제목 Racing Extinction
영화 제목 Rams
영화 제목 Ratter
영화 제목 Remember
영화 제목 Requisitos para ser una persona normal
영화 제목 Results
영화 제목 Right Now, Wrong Then
영화 제목 Rolling Papers
영화 제목 Room
영화 제목 Rosenwald
영화 제목 Safelight
영화 제목 Sam
영화 제목 San Andreas
영화 제목 Scherzo Diabolico
영화 제목 Schneider vs. Bax
영화 제목 Scouts Guide to the Zombie Apocalypse
영화 제목 Se Dio vuole
영화 제목 Seashore
영화 제목 Sei mai stata sulla luna?
영화 제목 Seoul Searching
영화 제목 Shaun the Sheep Movie
영화 제목 Sherpa
영화 제목 Shut In
영화 제목 Si accettano miracoli
영화 제목 Sicario
영화 제목 Sindrom Petrushki
영화 제목 Sleeping Giant
영화 제목 Sleeping with Other People
영화 제목 Slow West
영화 제목 Somewhere Only We Know
영화 제목 Son of Mine
영화 제목 Son of Saul
영화 제목 Song of Lahore
영화 제목 Songs My Brothers Taught Me
영화 제목 Spare Parts
영화 제목 Spy
영화 제목 Stealing Cars
영화 제목 Steve McQueen: The Man & Le Mans
영화 제목 Stockholm, Pennsylvania
영화 제목 Strana Oz
영화 제목 Strangerland
영화 제목 Stung
영화 제목 Sucker
영화 제목 Sunny in the Dark
영화 제목 SuperBob
영화 제목 Sweet Micky for President
영화 제목 Sworn Virgin
영화 제목 Swung
영화 제목 Synchronicity
영화 제목 Tab Hunter Confidential
영화 제목 Tale of Tales
영화 제목 Tangerine
영화 제목 Tanna
영화 제목 Taxi
영화 제목 Techo y comida
영화 제목 Terminator Genisys
영화 제목 Territory
영화 제목 Tetarti 04:45
영화 제목 Thank You for Playing
영화 제목 The 33
영화 제목 The Adderall Diaries
영화 제목 The Age of Adaline
영화 제목 The Assassin
영화 제목 The Babushkas of Chernobyl
영화 제목 The Benefactor
영화 제목 The Birth of Sakè
영화 제목 The Black Panthers: Vanguard of the Revolution
영화 제목 The Blue Hour
영화 제목 The Boy
영화 제목 The Boy Next Door
영화 제목 The Boy and the Beast
영화 제목 The Brand New Testament
영화 제목 The Break-In
영화 제목 The Bronze
영화 제목 The Casual Vacancy
영화 제목 The Childhood of a Leader
영화 제목 The Chinese Mayor
영화 제목 The Clan
영화 제목 The Club
영화 제목 The Confines
영화 제목 The Corpse of Anna Fritz
영화 제목 The D Train
영화 제목 The DUFF
영화 제목 The Danish Girl
영화 제목 The Daughter
영화 제목 The Deposit
영화 제목 The Diary of a Teenage Girl
영화 제목 The Ecstasy of Wilko Johnson
영화 제목 The End of the Tour
영화 제목 The Escort
영화 제목 The Final Girls
영화 제목 The Forbidden Room
영화 제목 The Ghost and the Whale
영화 제목 The Girl in the Book
영화 제목 The Great Alone
영화 제목 The Grief of Others
영화 제목 The Here After
영화 제목 The High Sun
영화 제목 The Hoarder
영화 제목 The Hunting Ground
영화 제목 The Invitation
영화 제목 The Jinx: The Life and Deaths of Robert Durst
영화 제목 The Laundryman
영화 제목 The Legend of Barney Thomson
영화 제목 The Lobster
영화 제목 The Longest Ride
영화 제목 The Magic Mountain
영화 제목 The Man in the Wall
영화 제목 The Masked Saint
영화 제목 The Master Plan
영화 제목 The Measure of a Man
영화 제목 The Midwife
영화 제목 The Nightmare
영화 제목 The Other Side
영화 제목 The Overnight
영화 제목 The Pearl Button
영화 제목 The Real Miyagi
영화 제목 The Red Spider
영화 제목 The Russian Woodpecker
영화 제목 The Sea of Trees
영화 제목 The Second Mother
영화 제목 The Seventh Fire
영화 제목 The Shaman
영화 제목 The Snake Brothers
영화 제목 The SpongeBob Movie: Sponge Out of Water
영화 제목 The Stanford Prison Experiment
영화 제목 The Summer of Sangaile
영화 제목 The Survivalist
영화 제목 The Treasure
영화 제목 The Visit
영화 제목 The Wait
영화 제목 The Wakhan Front
영화 제목 The Wedding Ringer
영화 제목 The Witch
영화 제목 The Wolfpack
영화 제목 They Look Like People
영화 제목 This Isn't Funny
영화 제목 Those People
영화 제목 Thought Crimes: The Case of the Cannibal Cop
영화 제목 Ti mene nosis
영화 제목 Tikkun
영화 제목 Tired Moonlight
영화 제목 Tom Swift and His Electric Rifle
영화 제목 Tomorrowland
영화 제목 Too Late
영화 제목 Tracers
영화 제목 TransFatty Lives
영화 제목 True Story
영화 제목 Tryapichnyy soyuz
영화 제목 Turbo Kid
영화 제목 Twinsters
영화 제목 Two Friends
영화 제목 Tyke Elephant Outlaw
영화 제목 Umrika
영화 제목 Un monstruo de mil cabezas
영화 제목 Uncanny
영화 제목 Uncle John
영화 제목 Uncle Kent 2
영화 제목 Under Electric Clouds
영화 제목 Unexpected
영화 제목 Valley of Love
영화 제목 Very Semi-Serious
영화 제목 Viaje
영화 제목 Victoria
영화 제목 Virgin Mountain
영화 제목 War Pigs
영화 제목 We Are Still Here
영화 제목 Welcome to Happiness
영화 제목 Welcome to Leith
영화 제목 Western
영화 제목 What's Between Us
영화 제목 White Out, Black In
영화 제목 Whitney
영화 제목 With This Ring
영화 제목 Wolf Hall
영화 제목 Wolf Totem
영화 제목 Wolf Warrior
영화 제목 Wondrous Boccaccio
영화 제목 World of Tomorrow
영화 제목 Yosemite
영화 제목 You're Ugly Too
영화 제목 Youth
영화 제목 Z for Zachariah
영화 제목 Zurich

<div class="alert alert-block" style="border: 2px solid #1565C0;background-color:#E3F2FD;padding:10px">
<font size="3em" style="color:#0D47A1;">연습문제 5: 가장 많은 영화를 제작하는 상위 5개 국가를 찾으세요.</font><br>
</div>

In [142]:
top5_countries = movies.aggregate([{"$unwind": "$countries"},   # 국가 array를 unwind
                  {"$group": {"_id":"$countries", "count": {"$sum":1}}}, # 국가별 제작건수
                  {"$sort": {"count": -1}},     # 내림차순 정렬
                  {"$limit": 5}])
top5_countries = list(top5_countries)
pd.DataFrame(top5_countries)

       _id  count
0      USA  11855
1   France   3093
2       UK   2904
3  Germany   1659
4    Italy   1388

<div class="alert alert-block" style="border: 2px solid #1565C0;background-color:#E3F2FD;padding:10px">
<font size="3em" style="color:#0D47A1;">연습문제 6: 2000년 이후 영화의 연도별 평균 IMDB 평점을 찾으세요.</font><br>
</div>

In [150]:
average_rating = movies.aggregate([
    {"$match" :{"year": {"$gt": 2000}}},
    {"$group" : {"_id":"$year",
                "avgRating":{"$avg": "$imdb.rating"}}}
    {"$sort":{"_id": 1}}
])
pd.DataFrame(average_rating)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2925741359.py, line 3)

<div class="alert alert-block" style="border: 2px solid #1565C0;background-color:#E3F2FD;padding:10px">
<font size="3em" style="color:#0D47A1;">연습문제 7:  'Star'라는 단어가 포함된 영화의 제목을 가져오세요.</font><br>
</div>

<div class="alert alert-block" style="border: 2px solid #1565C0;background-color:#E3F2FD;padding:10px">
<font size="3em" style="color:#0D47A1;">연습문제 8:  데이터셋에서 사용 가능한 모든 고유 언어를 나열하세요.</font><br>
</div>

<div class="alert alert-block" style="border: 2px solid #1565C0;background-color:#E3F2FD;padding:10px">
<font size="3em" style="color:#0D47A1;">연습문제 9:  각각의 감독이 제작한 영화 수가 25개 이상인 감독들을 찾으세요.</font><br>
</div>

<div class="alert alert-block" style="border: 2px solid #1565C0;background-color:#E3F2FD;padding:10px">
<font size="3em" style="color:#0D47A1;">연습문제 10:  관람객 평점을 기준으로 상위 5개의 영화를 찾으세요 (1000표 이상의 영화에 한함).</font><br>
</div>